* {
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* utilities */
.container {
  max-width: 1100px;
  margin: 10px auto auto auto;
  overflow: hidden;
  padding: 0 2rem;
  height: 100%;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}
